<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <%= form_for @subject, url:admin_subject_path(@subject.id) do |f|%>
        <div>
          <%= f.text_field:name, :placeholder =>"Enter subject", :class => "col-md-3"%>
        </div>
        <div >
          <br/>
          <%= f.label :manager, 'Assign Manager'%><br />
          <%= f.select :manager,User.where(:role => "manager").pluck(:name, :id),{prompt:'select manager'}, {class: "drop-down col-md-3", :multiple => true}%>
        </div>
        <br/>
        <%= f.submit "Update", :class => "button btn btn-success"%>
      <%end%>
    </div>
  </div>
</div>