<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><%= @heading %></h3>
                <span style = "float: right">
                  <%= link_to('New Ticket', new_user_ticket_path, :class => "button btn btn-info") %>
                </span>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="max-height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Ticket No</th>
                      <th>Subject</th>
                      <th>Created at</th>
                    </tr>
                  </thead>
                  <% @tickets.each do |ticket|%>
                    <tbody>
                      <tr>
                        <td><%= ticket.ticket_no%></td>
                        <td><%= ticket.subject.name%></td>
                        <td><%= ticket.created_at%></td>
                        <td><%= link_to('View', user_ticket_path(ticket.id), :class => "btn btn-info") %></td>
                      </tr>
                    </tbody>
                  <%end%>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
</div>














